<div class="row">
  <div class="span0 well text-center">
    <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: :post do %>
      <%= content_tag(:i, '', class: 'icon-arrow-up') %>
    <% end %>
    <br/>
    <%= comment.total_votes %> votes
    <br/>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: :post do %>
      <%= content_tag(:i, '', class: 'icon-arrow-down') %>
    <% end %>
  </div>
  <div class="well span8">
    <em>"<%= comment.body %>"</em>
    <% if show_post_name %>
     on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br>
    <span class="quiet">by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
    <small><%= custom_time_ago_in_words(comment.created_at) %></small>
  </div>
</div>
