<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: :post do %>
        <%= content_tag(:i, '', class: 'icon-arrow-up') %>
      <% end %>
      <br/>
    <% end %>
    <%= post.total_votes %> votes
    <% if logged_in? %>
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: :post do %>
        <%= content_tag(:i, '', class: 'icon-arrow-down') %>
      <% end %>
    <% end %>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url), target: '_blank' %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posed by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small><%= custom_time_ago_in_words(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post) )%>
      </span>
    </small>
  </div>
</div>
